.contact-maininfo-container {
    z-index: 1;
    position: absolute;
    width: 95%;
    top: 70px;
    padding: 30px 70px;
}

.contact-location-interest{
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 0 20px;
}

.contact-channel-init{
    padding: 0 20px;
}

.contact-channel-add{
    padding: 0 20px;
}