$color1:#214985;
$color2:white;
$color3:#bec5be;
$color4:#495057;
$color5:#ced4da;
$color6:#1566b3;
$color7:#C6CACC;
$color8:#1ed12d;
$color9:#bb2929;
$color10:#f66060;
$color11:#c2f8bb;
$color12:#119200;
$color13:whitesmoke;